.sidebar
	&-front-page
		margin-left: 30px
		margin-top: 30px
.widget
	background-color: #FFFFFF
	border-radius: 10px
	&_tag_cloud
		.widget-title
			padding: 15px 25px
			border-bottom: 1px solid #d9dadb
			font-family: 'Lato Black', sans-serif
			font-size: 16px
			margin: 10px 0
			text-transform: uppercase
	&-social
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 25px 25px
		text-align: center
		h2
			padding: 0
			margin-top: 0
		.widget-title
			flex-basis: 100%
			font-family: 'Roboto Slab', sans-serif
		.widget-link
			flex-basis: 30%


	&-downloader
		background: #3bbdc4 url('../images/file.svg') no-repeat top 22px right 24px
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px
		color: #FFFFFF
		padding: 25px
		padding-bottom: 55px
		position: relative
		.widget
			&-title
				margin-top: 0
				font-family: 'Roboto Slab', sans-serif
				font-size: 16px
				line-height: 25px
			&-link
				position: absolute
				bottom: 0
				left: 0
				right: 0
				text-align: center
				padding-top: 12px
				padding-bottom: 13px
				border-top: 1px solid rgba(#fff, 0.75)
				color: #fff
				text-decoration: none
				font-size: 14px
				line-height: 20px
				display: inline-flex
				justify-content: center
				align-items: center
				font-family: 'Lato Black', sans-serif
				&-icon
					margin-right: 10px


		.description
			color: #c1f4f5
			font-size: 14px
			line-height: 20
			margin: 0
	.tagcloud
		display: flex
		align-items: center
		justify-content: flex-start
		flex-wrap: wrap
		padding: 15px
		padding-right: 10px
		padding-left: 25px

	.tag-cloud-link
		margin-right: 10px
		margin-bottom: 10px
		text-decoration: none
		padding: 5px 10px
		border: 1px solid #d9dadb
		border-radius: 5px
		line-height: 20px
		color: #262d33

